@{
    ViewBag.Title = "Home Page";
}

@if (ViewBag.Error != null)
{
    <h2>@ViewBag.Error</h2>
}

<br />
<br />

<script src="~/Scripts/dropzone/dropzone.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<link href="~/Scripts/dropzone/dropzone.min.css" rel="stylesheet" />
<div class="jumbotron">
    <form action="~/Home/Upload"
    class="dropzone"
    id = "dropzoneJsForm"
    style = "background-color:white" ></form>
</div>
        

<script type="text/javascript">

    Dropzone.options.dropzoneForm =
  {
      acceptedFiles: ".jpg, .png, .gif, .jpeg, .bmp, .mp3, .wma, .wav, .mp4, .avi, .wmv, .zip, .rar, .txt, .docx, .pdf, .accdb, .xlsx",
      maxFilesize: 100,
        init: function() {
            this.on("complete", function (data)
            {
                var res = JSON.parse(data.xhr.responseText);
            });
        }
    };
</script>