@model List<Dropzone.Models.UploadedFileModel>

<div>
    <h4>Znalezione pliki:</h4>
    <hr />
    <div class="row" style="color: white; background-color:green; border-top: 1px solid black;">
        <div class="col-md-4">
            Nazwa pliku
        </div>
        <div class="col-md-4">
            Rozszerzenie
        </div>
        <div class="col-md-4">
            Ścieżka
        </div>
    </div>

    @foreach (var item in Model)
    {
        <div class="row" style="border-top: 1px solid black; padding: 5px;">
            <div class="col-md-4">
                @item.FileName
            </div>
            <div class="col-md-4">
                @item.Extension
            </div>
            <div class="col-md-4">
                @item.Path
            </div>
        </div>
    }
</div>
